*.pyc
**/.coverage
.idea/
ache/api_key.py
pocketchef/app/__pycache__/
pocketchef/app/password.py
*.swp
*.pem
react/output/
venv/
pocketchef-2/node_modules
pocketchef-2/build
pocketchef-2/coverage
.DS_Store
.env
npm-debug.log*
