{% extends 'layout.html' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-center">About Us</h1>
      <div class="row">
        <div class="col-md-4">
        	<div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://vignette.wikia.nocookie.net/phineasandferb/images/9/98/Baljeet.JPG/revision/latest?cb=20170806211609"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Aditya Prasad</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>About:</b> Aditya is a third-year CS student who is super into playing instruments, but not one specific one. He plays four different ones. He really enjoys going to Halal Bros.</li>
                <li class="list-group-item"><b>Major Responsibilities:</b> Full Stack</li>
                <li class="list-group-item"><b>Commits:</b> __</li>
                <li class="list-group-item"><b>Issues:</b> __</li>
                <li class="list-group-item"><b>Unit Tests:</b> __</li>
              </ul>
            </div>
        </div>  

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://vignette.wikia.nocookie.net/phineasandferb/images/f/f9/Ferb_official.jpg/revision/latest?cb=20140503030927"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Connor Burkman</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>About:</b> Connor is a fourth-year CS student who thinks Panda Express is too spicy. He's in love with some of the food at Song La.</li>
                <li class="list-group-item"><b>Major Responsibilities:</b> Full Stack</li>
                <li class="list-group-item"><b>Commits:</b> __</li>
                <li class="list-group-item"><b>Issues:</b> __</li>
                <li class="list-group-item"><b>Unit Tests:</b> __</li>
              </ul>
            </div>
        </div>  

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://i.ytimg.com/vi/t5BzYRrjtRg/maxresdefault.jpg"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Jesus Romero</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>About:</b> Jesus is a fourth-year CS student who loves tamales. He's an advocate of Olive Garden and splurges at Sushi Junai.</li>
                <li class="list-group-item"><b>Major Responsibilities:</b> Full Stack</li>
                <li class="list-group-item"><b>Commits:</b> __</li>
                <li class="list-group-item"><b>Issues:</b> __</li>
                <li class="list-group-item"><b>Unit Tests:</b> __</li>
              </ul>
            </div>
        </div>  

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://lumiere-a.akamaihd.net/v1/images/07820f26d28f6fb23738eef6c54e72d9430a3908.jpeg?region=0,0,600,600"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Matthew Curtis</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>About:</b> Matthew is a ____-year CS students who has the misfortune of having two first names as a first and last. He loves his take on Asian cuisine at local food truck Pinch.</li>
                <li class="list-group-item"><b>Major Responsibilities:</b> Full Stack</li>
                <li class="list-group-item"><b>Commits:</b> __</li>
                <li class="list-group-item"><b>Issues:</b> __</li>
                <li class="list-group-item"><b>Unit Tests:</b> __</li>
              </ul>
            </div>
        </div>  

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://vignette.wikia.nocookie.net/phineasandferb/images/f/fb/Perry_official.jpg/revision/latest/scale-to-width-down/230?cb=20140503030926"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Patrick Dalisay</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>About:</b> Patrick is a third-year CS student who enjoys long walks on the beach and competitive dancing. His favorite place to eat is at basically any taco truck that serves some nice, cheap tacos al pastor.</li>
                <li class="list-group-item"><b>Major Responsibilities:</b> Full Stack</li>
                <li class="list-group-item"><b>Commits:</b> __</li>
                <li class="list-group-item"><b>Issues:</b> __</li>
                <li class="list-group-item"><b>Unit Tests:</b> __</li>
              </ul>
            </div>
        </div>  
      </div>

      <h3>Data</h3>
      <ul>
        <li><a href="https://www.yelp.com/developers/">Yelp</a>: Used to get Restaurant reviews</li>
        <li><a href="http://docs.opendining.net/api/ ">Open Dining</a>: Menus</li>
        <li><a href="https://iamdata.co/">Information Machine</a>: Grocery Prices</li>
        <li><a href="http://api2.bigoven.com/">Big Oven</a>: Recipes</li>
      </ul>

      <h3>Tools</h3>
      <ul>
        <li>Amazon Web Services: hosts the website</li>
        <li>Bootstrap: CSS framework</li>
        <li>Flask: Web framework</li>
        <li>Github: place for project to be coded and shared</li>
        <li>Namecheap: custom domain name</li>
        <li>Postman: API documentation</li>
        <li>Slack: communication device</li>
      </ul>

      <h3>Links</h3>
      <ul>
        <li><a href="https://www.gitbook.com/book/connorlb/pocketchef/details">GitBook</a></li>
        <li><a href="https://github.com/Connorlb/IDBSite">Repo</a></li>  
      </ul>
{% endblock %}
