{% extends 'layout.html' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-center">Dishes</h1>
      <div class="row">

        <div class="col-md-4">
        	<a class="d-block" href="/Fettuccine" style="text-align: center;">
                <figcaption><h3> Fettuccine </h3></figcaption>
            </a>
            <img class="img-fluid img-thumbnail img-responsive" style = "Height:300p; width:400px" src="https://images-gmi-pmc.edge-generalmills.com/d6555a9d-686b-4341-9260-f3d337089802.jpg" alt=" ">
        </div>  

        <div class="col-md-4">
        	Data 2
        </div>

        <div class="col-md-4">
        	Data 3
        </div>

      </div>
{% endblock %}
