{% extends 'layout.html' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-center">Dishes</h1>
      <div class="row">

        <div class="col-md-4">
        	<div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/d6555a9d-686b-4341-9260-f3d337089802.jpg"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Maggiano's</h4>
                <p class="card-text">Serves Fettucine Alfredo</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Address</li>
                <li class="list-group-item">Hours</li>
                <li class="list-group-item">Cuisine</li>
              </ul>
              <div class="card-body">
                <a href="/maggianos" class="card-link">Restaurant Info</a>
              </div>
            </div>

        </div>  

        <div class="col-md-4">
        	Data 2
        </div>

        <div class="col-md-4">
        	Data 3
        </div>

      </div>
{% endblock %}
