{% extends 'layout.html' %}
{% block body %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <!-- Restaurant IMG, Title & Description card -->
      <div class="card" style="width: 60rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-u35Q-AnQ1wxsW7pv8Lcf4ivUGD10UYp0fKafhfskpg3XS6Bb" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Graham Crackers</h4>
              </div>
      </div>


      <div class="container">
        <!-- Grid of details -->
        <div class="row">
          <div class="col-md-4">
            <h2>Popular Dishes</h2>
            <p>Popular dishes that use Graham Crackers include Pudding, <a href="/recipes/smores">S'mores</a>, and Cheesecake.</p>
          </div>
          <div class="col-md-4">
            <h2>Average Calories:</h2>
            <p>59 calores per cracker<br></br> Learn more at <a href="https://ndb.nal.usda.gov/ndb/foods/show/5686?fgcd=&manu=&lfacet=&format=&count=&max=50&offset=&sort=default&order=asc&qlookup=18173&ds=&qt=&qp=&qa=&qn=&q=&ing=">usda.gov</a></p>
          </div>
          <div class="col-md-4">
            <h2>Average Price</h2>
            <p>The average price of graham crackers: $3.00/14.4 oz</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}