{% extends 'layout.html' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-center">Ingredients</h1>
      <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-u35Q-AnQ1wxsW7pv8Lcf4ivUGD10UYp0fKafhfskpg3XS6Bb"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Graham Crackers</h4>
              <div class="card-body">
                <a href="/ingredients/grahamcrackers" class="card-link">Ingredient Info</a>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/88/Bright_red_tomato_and_cross_section02.jpg"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Tomatoes</h4>
              </div>
              <div class="card-body">
                <a href="/ingredients/tomatoes" class="card-link">Ingredient Info</a>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="https://sparkpeo.hs.llnwd.net/e2/guid/Gluten-Free-Flour-Tortillas/57267ef2-baf3-408a-af96-0c6c3ef6dec0.jpg">
              <div class="card-body">
                <h4 class="card-title">Tortillas</h4>
              </div>
              <div class="card-body">
                <a href="/ingredients/tortillas" class="card-link">Ingredient Info</a>
              </div>
            </div>
        </div>

      </div>
{% endblock %}
