{% extends 'layout.html' %}
{% block body %}
<style type="text/css">
.mycont{
  position:relative;
  text-align:center;
  color:white;
}
.centered{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.tops{
  position:absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, --70%);
}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="card" style="width: 60rem;">
              <img class="card-img-top" src="http://ialoc.org/Resources/Pictures/Maggianos-Nordstrom-009.jpg" style="height:800px" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Maggiano's Little Italy</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Maggiano's is an upscale Italian restaurant serving high-quality traditonal Italian quisine.</b> </li>
              </ul>
      </div>


      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Popular Dishes</h2>
            <p>Popular dishes at Maggiano's include Chicken Parmesan, <a href="/recipes/tomatosoup">Tomato Soup</a>, and Fettuccini Alfredo.</p>
          </div>
          <div class="col-md-4">
            <h2>Sample Review:</h2>
            <p>“The value comes in when you get to take home another platter of either the same or another selection.” <br></br> See more on <a href="Yelp.com">Yelp.com</a></p>
          </div>
          <div class="col-md-4">
            <h2>Commonly Used Ingredients</h2>
            <p>Ingredients at Maggiano's often include chicken, <a href="/ingredients/tomatoes">tomatoes</a>, and noodles</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}