{% extends 'layout.html' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-center">Recipes</h1>
      <div class="row">

        <div class="col-md-4">
          <b>S'mores</b>
          <img src="http://assets.kraftfoods.com/recipe_images/opendeploy/75108_640x428.jpg" width="300" height="400">
          <p>Ingredients</p>
          <small>8 sheets honey graham crackers</small>
          <small>One 4.4-ounce bar milk chocolate, such as Hershey's, broken into 8 pieces</small>
          <small>Pinch kosher salt</small>
          <small>8 large marshmallows</small>
          <p>Time to prepare <b>10 minutes</b></p>
        </div>

        <div class="col-md-4">
        	Data 2
          <img src="IDBSite/pocketchef/app/templates/Images/DopeFetts.jpg" width="300" height="400">
        </div>


        <div class="col-md-4">
        	Data 3
          <img src="/app/templates/Images/DopeFetts.jpg" width="300" height="400">

        </div>


      </div>
{% endblock %}
