{% extends 'layout.html' %}
{% block body %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <!-- Restaurant IMG, Title & Description card -->
      <div class="card" style="width: 60rem;">
              <img class="card-img-top" src="http://assets.kraftfoods.com/recipe_images/opendeploy/75108_640x428.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Smores</h4>
              </div>
      </div>


      <div class="container">
        <!-- Grid of details -->
        <div class="row">
          <div class="col-md-4">
            <h2>Popular Restaurants</h2>
            <p>Popular restaurants that serve smores include Halcyon, <a href="/recipes/cheesecakefactory">Cheesecake Factory</a>, and Mary's Cafe.</p>
          </div>
          <div class="col-md-4">
            <h2>Ingredients:</h2>
            <p>8 sheets honey <a href="/ingredients/grahamcrackers">graham crackers</a><br>
                  One 4.4-ounce milk chocolate bar <br>
                  Pinch kosher salt<br>
                  8 large marshmallows</p>
          </div>
          <div class="col-md-4">
            <h2>Preparation Instructions</h2>
            <p>Heat a grill to medium-low heat. (The heat coming from a dying charcoal grill or a gas grill cooling down will also work well.)<br><br>
                    Halve each graham cracker sheet crosswise into 2 squares. Working with 1 or 2 s'mores at a time, place a square of graham cracker on a piece of foil and top with a portion of chocolate and a pinch of kosher salt. Place on the edge of the grill just until the chocolate is warmed and softened, about 30 seconds.<br><br>
                    Take the graham cracker squares and chocolate to your grill (as the marshmallows toast they will become soft and start to droop off the skewer). Working with a few at a time, skewer a marshmallow on a long fork or metal skewer and hold over the heat about 2 inches above the grates. Toast, turning occasionally, until the marshmallow puffs and turns golden brown, 1 to 2 minutes.<br><br>
                    Using the square of graham with the chocolate and a plain graham square, place the marshallow on the chocolate and, using the plain graham, squish the marshmallow down and pull off the skewer. Eat while it is warm and gooey and perfect.</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}