{% extends 'layout.html' %}
{% block body %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <!-- Restaurant IMG, Title & Description card -->
      <div class="card" style="width: 60rem;">
              <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/3f2a43ee-fbec-46bc-b26a-0e6f64d85a41.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Steak Burrito</h4>
              </div>
      </div>


      <div class="container">
        <!-- Grid of details -->
        <div class="row">
          <div class="col-md-4">
            <h2>Popular Restaurants</h2>
            <p>Popular restaurants that serve smores include Taco Shack, <a href="/recipes/cabobobs">Cabo Bob's</a>, and Burrito Factory.</p>
          </div>
          <div class="col-md-4">
            <h2>Ingredients:</h2>
            <p>1 medium onion, diced<br>
                    2 pounds ground beef<br>
                    1/2 teaspoon ground cumin<br>
                    1/4 teaspoon chili powder<br>
                    1/4 teaspoon ground oregano<br>1/4 teaspoon salt<br>
                    Three 7-ounce cans Mexican tomato sauce (I use El Patobrand) or enchilada sauce<br>
                    One 28-ounce can refried beans<br>
                    3/4 cup grated Cheddar, plus extra for sprinkling<br>
                    12 burrito-size flour <a href="/ingredients/tortillas">tortillas</a><br>
                    1/2 cup fresh cilantro leaves</p>
          </div>
          <div class="col-md-4">
            <h2>Preparation instructions:</h2>
            <p>Preheat the oven to 170 to 180 degrees F.<br><br>
                    In a large skillet over medium heat, cook the onions until softened. Then add the ground beef and cook until the beef is cooked through. Add the cumin, chili powder, oregano and salt and stir to combine. Pour 2 cans of the Mexican tomato sauce into the meat and simmer over low heat for 5 minutes. Add a little water if the mixture gets too dry.<br><br>
                    Meanwhile, heat the refried beans in a saucepan over medium-low heat. Add the cheese, and stir it in till its melted. Remove from the heat.<br><br>
                    Heat the tortillas in the microwave for 1 minute, and then spread a small amount of beans on each tortilla. Add a small amount of the meat. Fold over the ends of the tortilla, and then roll them up. Repeat with the rest of the tortillas. Then place them in a large baking dish, cover with foil and keep warm in the oven.<br><br>
                    When ready to serve, drizzle the remaining can of tomato sauce over all of the burritos and sprinkle with more grated Cheddar. Return to the oven for a couple of minutes just to melt the cheese.<br><br>
                    Sprinkle the tops with the cilantro leaves and serve immediately to the fork-bangers in your life. They'll kiss you and hug you. Repeatedly.</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}